<!DOCTYPE html>

    <link href="./assets/skitter/styles.css" type="text/css" media="all" rel="stylesheet" />

	<!-- Skitter Styles -->
	<link href="./assets/skitter/skitter.styles.css" type="text/css" media="all" rel="stylesheet" />



<body>



<div id="carousel" class="">		
	<div id="myCarousel" class="carousel slide mbottom0">
	  <div class="carousel-inner">
	    <div class="active item">
			<div class="box_skitter box_skitter_large">
					<ul>
						<li><a href="#cube"><img src="./assets/background.jpg" class="cube" /></a><div class="label_text"><p>Matching investors with energy projects</p></div></li>
						<li><a href="#cube"><img src="./assets/solar_2.jpg" class="block" /></a><div class="label_text"><p>Enhance your investment portfolio with low risk energy investments</p></div></li>
						<li><a href="#block"><img src="./assets/wind_2.jpg" class="cubeRandom" /></a><div class="label_text"><p>Browse a large variety of projects</p></div></li>
						<li><a href="#cubeStop"><img src="./assets/eco-green.jpg" class="paralell" /></a><div class="label_text"><p>Support clean energy projects and help save the environment</p></div></li>	
					</ul>
			</div>


		</div>
	  </div>
	</div>
</div>
 <img src="./assets/shadow.png" alt="shadow" id="main-shadow"/>

		<!-- 	<% if user_signed_in? %>
				<p><h4>Hello <%= current_user.name %> </h4>
				(Not  <%= current_user.name %> 
				<%= link_to "Sign out",  destroy_user_session_path, :method => :delete %>
			  )</p>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path, class: "btn btn-small btn-primary" %> or 	<%= link_to "Sign in", new_user_session_path, class: "btn btn-small btn-primary" %>
			<% end %> -->
	
<div class="socialbar">
		<a href="#"><img src="../assets/socials/face.png" alt="facebook" /></a>
		<a href="#"><img src="../assets/socials/twit.png" alt="twitter" /></a>
		<a href="#"><img src="../assets/socials/link.png" alt="linkedin" /></a>
		<a href="#"><img src="../assets/socials/you.png" alt="youtube" /></a>

</div>


<div class="content vspace40">
	<div class="container marketing center">
	
				 
		
		<hr class="soften" />

		<div class="row">
			<div class="span12 marketing">
				<h2>Why should you invest </h2>
				<br>
				<br>
			    <div class="row-fluid span12" id="Features">
					<div class="span3">
						<img src="../assets/money_64.png" alt="v" />
						<h3>Financial Benefits</h3>
						<p>
							Long term predictable returns with additional interest. <br>
							Increase variety and spread risk for an existing portfolio. 
							
						</p>
					</div>
					<div class="span3">
						<img src="../assets/globe_64.png" alt="v" />
						<h3>Environment Benefits</h3>
						<p>
							Invest in projects that improve the world we live in.<br>
							See how much CO2 emission your investments helped prevent.
						</p>
					</div>
					<div class="span3">
						<img src="../assets/chart_bar_up_64.png" alt="v" />
						<h3>Usability Benefits</h3>
						<p>
							Know what your money is doing, and how it is working for you.<br>
							View portfolio stats and projected returns.<br>
							See detailed reports on each project.<br>
							Compare between different projects.
						</p>
					</div>
					<div class="span3">
						<img src="../assets/laptop_64.png" alt="v" />
						<h3>Accessibility Benefits</h3>
						<p>
							Gain access to projects from all over the world.<br>
							Start investing in just a few clicks.<br>
							Get a direct contact channel to project managers.
						</p>
					</div>
				</div>
				
			</div>

		</div>


		<hr class="soften" />
		

		
		<div class="row-fluid span12" id="bottom-market">
			
			
			<div class="row-fluid span7" id="suc-projects">
					<h2>Recently funded projects</h2>

					<div class="span6 zoom">
						<a href="./project_1"  title="A solar farm near the delta of the Nile">
							<img src="../assets/solar_1.jpg" alt="This is the Image Alt Attribute used as description">
						</a>						
					</div>
					<div class="span6 zoom">
						<a href="./project_2"  title="A new wind farm in the Netherlands">
							<img src="../assets/wind_1.jpg" alt="This is the Image Alt Attribute used as description">
						</a>
					</div>
					<div class="span6 zoom">
						<a href="./project_3"  title="A new hydroelectric dam in northern Thailand">
							<img src="../assets/solar_3.jpg"  alt="This is the Image Alt Attribute used as description">
						</a>
					</div>
					<div class="span6 zoom">
						<a href="./project_4"  title="A new project that takes the trash from landfills in New Delhi and turns it into electricity">
							<img src="../assets/green-world.jpg" alt="This is the Image Alt Attribute used as description">
						</a>
					</div>
			</div>
			
			<div class="span5" id="testimonials">
				<h2>Testimonials</h2>
				<blockquote class="testimonial">
					<p>As a seasoned investor I must say that the platform gives a great amount of data regarding each project, and really makes it easy to make calculated investments </p>
				</blockquote>	
<!-- 				<div class="arrow-down"></div>
 -->				<p class="testimonial-author">John Smith</p>
				<br>
				<br>

				<blockquote class="testimonial">
					<p>The analytics provided in this site are extremely helpful.  I was able to see many helpful data stats that assisted me in building a versatile portfolio </p>
				</blockquote>	
<!-- 				<div class="arrow-down"></div>
 -->				<p class="testimonial-author">Lora Johnson</p>
			</div>
			
		</div>
		

	</div>
</div>

	
	<!-- Skitter JS -->
	<script type="text/javascript" language="javascript" src="./assets/skitter/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" language="javascript" src="./assets/skitter/jquery.easing.1.3.js"></script>
<!-- 	<script type="text/javascript" language="javascript" src="./assets/skitter/jquery.animate-colors-min.js"></script>
 -->	<script type="text/javascript" language="javascript" src="./assets/skitter/jquery.skitter.min.js"></script>

	
	<!-- Init Skitter -->
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$('.box_skitter_large').skitter({
				theme: 'clean',
				numbers_align: 'center',
				progressbar: true, 
				dots: true, 
				interval: 7000,
				stop_over: false,
				labelAnimation: 'left',
				velocity: 0.5,
				preview: true
			});
		});
	</script>

</body>
</html>