<!DOCTYPE html>

<div class="container">
<body>
	<h2 style="text-align:left">Reports</h2>
	<ul class="nav nav-tabs">
		<% ind=0 %>
		<% for proj in current_user.projects %>
			<% if ind == 0 %>
				<li class="active"><a href="#pane<%= proj.id %>" data-toggle="tab"><%= proj.name %></a></li>
			<% else %>
				<li><a href="#pane<%= proj.id %>" data-toggle="tab"><%= proj.name %></a></li>
			<% end %>
			<% ind=ind+1 %>
		<% end %>
	</ul>
	
	<div class="tab-content">
		<% ind=0 %>
		
		<% for proj in current_user.projects %>
			<% if ind == 0 %>
				<div id="pane<%= proj.id %>" class="tab-pane active">
				
			<% else %>
				<div id="pane<%= proj.id %>" class="tab-pane">
				
			<% end %>
			<% ind=ind+1 %>
				<h4><%= proj.name %> Reports</h4>
				<% if proj.name == "Prakriti" %>
					<img src="assets/Prakriti_PL.png", alt="report" >
				<% end %>
<!-- 				<img src="assets/Financial-Statement.jpg", alt="report" >
 -->				</div>
		<% end %>	
			
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
	
</body>
</div>