<!DOCTYPE html>


<body>
	<script src="../assets/sorttable.js"></script>

	<div class="compare-table">
			
		
		<table class="sortable table table-striped table-condensed">
			<thead>
					<td><a href="#">Project name</a></td>
					<td><a href="#">Type of project</a></td>
					<td><a href="#">Requested amount</a></td>
					<td><a href="#">Yearly interest</a></td>
					<td><a href="#">% funded</a></td>
					<td><a href="#">Days to end of funding round</a></td>
			</thead>
		
			<tbody>
			<% if @compare_projs  %>
				<% for proj in @compare_projs %>
					<tr>
						<td><%= proj.name %> </td>
						<td><%= proj.project_kind %></td>
						<td><%= proj.amount %></td>
						<td><%= proj.interese %></td>
						<td><%= (proj.percent_funded*100).to_int%></td>
						<td><%= (proj.end_date.to_date - Date.today).to_i %></td>
					</tr>	
				<% end  %> 
			<% end  %> 
			</tbody>
		</table>
	</div>
	<div class="empty-tabs" />
</body>