<!DOCTYPE html>


<body>
	<h2 id="Current_projects">Projects </h2>
	
	<div class="row-fluid" id="search-options">
		<form class="row-fluid navbar-search span3" id="search_projects" action="/projects" method="get">
			<input type="text" id="search" name="search" class="search-query" placeholder="Search">
		</form>
		<h4 class="span3" id="switch_to_map"><%= link_to  image_tag("globe_24.png"), projects_map_path %> map view</h4>
	</div>
	<form id="compare-form" action="/projects/compare" method="get">
	 <input class="btn btn-primary" id="compare-btn" type="submit" value="Compare" name="commit"></input>
<!-- 	<a class="btn" id="compare" type="submit" href="projects/compare">Compare</a>
 -->
	<div class="projects_list">
			
				
			 	<% if @projects %>
				<% company_list = ['Lean&Green','CleanFuture','Energico']%>
				<% ind = 0 %>
				<% for proj in @projects %>
					
					<% if ind%4 == 0 %>
						<div class="row-fluid">
						<ul class="thumbnails">
					<% end %>
					<li class="span3">
						<div class="thumbnail" id="my-project">
							<div><%= check_box_tag "checked_ids[]", proj.id, false, class: 'mybox' %></div>
							<%  if proj.picture_url? %>
								<%= link_to image_tag(proj.picture_url), {:controller => "projects", :action => "show", :selected_id => proj.id} %>
							<% else %>
								<img src="../assets/cat2.jpg" alt="some great picture of a cat">   
							<% end %>
						
						<!-- 	<% if proj.percent_funded*100 >= 100 %>
								<div class="funded">
									<span class="label label-success">Funded</span>
								</div>	
							<% end %>	 -->
						
							<div class="caption">
								 <% rand_num = rand(0..2) %>
								 <% if rand_num == 0 %>
									  <%  my_path = companies_0_path  %>
								 <% end %>
								 <% if rand_num == 1 %>
									  <%  my_path = companies_1_path  %>
								<% end %>
								<% if rand_num == 2 %>
									  <%  my_path = companies_2_path  %>
								<% end %>
								
								<h4><%= proj.name %></h4>
								<h5>by <%= link_to company_list[rand_num], my_path %>
<!-- 									<a href="static_pages/contact_company" class="btn" id="mail-button"><i class="icon-envelope"></i></a>
 -->								</h5>
								
								<p id="project_description"><%= proj.description %></p>
								<hr id="project_viw_hr"/>
								<div class="progress" id="project_progress">
									<div class="bar" id="proj_bar" style="width: <%= proj.percent_funded*100 %>%;"></div>
								</div>
								 <div>
									<h5 id="funded_amount">Received $<%= proj.funding_received/1000 %>K</h5>
									
									<h5 id="funded_percent"><%= (proj.percent_funded*100).to_int %>% funded</h5>
								 </div>
								 <!-- 	<% if proj.percent_funded*100 < 100 %>
										<% remaining_time = proj.end_date.to_date - Date.today %>
										<% if remaining_time > 0 %>
											<h5><%= remaining_time.to_i %> days left</h5>
										<% end %>
									<% end %> -->
							  </div>
							  <% if proj.percent_funded*100 < 100 %>
							  <%= link_to "Join in" , {:controller => "projects", :action => "show", :selected_id => proj.id}, :class=>"btn"  %>
<!-- 									<a class="btn" href="#">Join in</a>
 -->							  <% else %>
									<a class="btn" id="closed" href="#">Closed</a>
							  <% end %>
						</div>
					</li>
					
					<% if ind%4 == 3 %>
						 </ul>
						</div>
					<% end %>
					<%  ind = ind+1 %>
				<% end %>
			<% end %> 
			  
			  
			  
			  
            </ul>
         </div>
     </div>
	 </form>
	 
	 <link rel="stylesheet" href="./assets/prettyCheckable/prettyCheckable.css">
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script language="javascript" src="/assets/prettyCheckable/prettyCheckable.js" type="text/javascript"></script>
	
	<script>
		$().ready(function(){
			$('input.mybox').prettyCheckable();
		});
	</script>
</body>
