<!DOCTYPE html>


<body>
	<h1>Current projects </h1>
	<h2><%= link_to "Switch to map view", projects_map_path %></h2>
	 
	<form class="row-fluid navbar-search pull-left" action="/projects" method="get">
		<input type="text" id="search" name="search" class="search-query" placeholder="Search">
	</form>
	
	<form action="/projects/compare" method="get">
	 <input class="btn btn-large btn-primary" type="submit" value="Compare" name="commit"></input>
<!-- 	<a class="btn" id="compare" type="submit" href="projects/compare">Compare</a>
 -->
	<div class="projects_list">
			
				
			 	<% if @projects %>
				<% company_list = ['Lean&Green','CleanFuture','Energico']%>
				<% ind = 0 %>
				<% for proj in @projects %>
					
					<% if ind%3 == 0 %>
						<div class="row-fluid">
						<ul class="thumbnails">
					<% end %>
					<li class="span4">
						<div class="thumbnail">
							<div><%= check_box_tag "checked_ids[]", proj.id, false, class: 'mybox' %></div>
							<%  if proj.picture_url? %>
								<%= link_to image_tag(proj.picture_url), {:controller => "projects", :action => "show", :selected_id => proj.id} %>
							<% else %>
								<img src="../assets/cat2.jpg" alt="some great picture of a cat">   
							<% end %>
						
							<% if proj.percent_funded*100 >= 100 %>
								<div class="funded">
									<span class="label label-success">Funded</span>
								</div>	
							<% end %>	
						
							<div class="caption">
								 <% rand_num = rand(0..2) %>
								 <% if rand_num == 0 %>
									  <%  my_path = companies_0_path  %>
								 <% end %>
								 <% if rand_num == 1 %>
									  <%  my_path = companies_1_path  %>
								<% end %>
								<% if rand_num == 2 %>
									  <%  my_path = companies_2_path  %>
								<% end %>
								
								<h3><%= proj.name %></h3>
								<h4>by <%= link_to company_list[rand_num], my_path %>
									<a href="static_pages/contact_company" class="btn" id="mail-button"><i class="icon-envelope"></i></a>
								</h4>
								<p><%= proj.description %></p>
								<div class="progress progress-striped">
									<div class="bar" style="width: <%= proj.percent_funded*100 %>%;"></div>
								</div>
								 <div>
									<h4>Received $ <%= proj.funding_received %></h4>
									
									<h5><%= (proj.percent_funded*100).to_int %>% funded</h5>
								 </div>
								 	<% if proj.percent_funded*100 < 100 %>
										<% remaining_time = proj.end_date.to_date - Date.today %>
										<% if remaining_time > 0 %>
											<h5><%= remaining_time.to_i %> days left</h5>
										<% end %>
									<% end %>
							  </div>
							  <% if proj.percent_funded*100 < 100 %>
									<a class="btn" href="#">Join in</a>
							  <% else %>
									<a class="btn" id="closed" href="#">Closed</a>
							  <% end %>
						</div>
					</li>
					
					<% if ind%3 == 2 %>
						 </ul>
						</div>
					<% end %>
					<%  ind = ind+1 %>
				<% end %>
			<% end %> 
			  
			  
			  
			  
            </ul>
         </div>
     </div>
	 </form>
	 
	 <link rel="stylesheet" href="./assets/prettyCheckable/prettyCheckable.css">
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script language="javascript" src="/assets/prettyCheckable/prettyCheckable.js" type="text/javascript"></script>
	
	<script>
		$().ready(function(){
			$('input.mybox').prettyCheckable();
		});
	</script>
</body>
