<footer>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Company</h3>
			<ul class="Company"> 
			  <li><%= link_to "About", about_path %></li>
			  <li><%= link_to "Management", home_path %></li>
			  <li><%= link_to "Contact us",  home_path %></li>
			</ul>
		</div>
		<div class="span3">
			<h3>Legal</h3>
			<ul class="Legal">
			  <li><%= link_to "Agreements", home_path %></li>
			  <li><%= link_to "Disclosure", home_path %></li>
			  <li><%= link_to "Terms of use", home_path %></li>
			</ul>
		</div>
			<!--   <%= tweet_button %> -->
			<!--   <div class="social">
				  <a  href="#"><img src="../assets/facebook-icon.png" alt="FB" width=30 height=30></a>   
				  <a  href="#"><img src="../assets/twitter.png" alt="twitter" width=30 height=30></a>    
				  <a  href="#"><img src="../assets/G+Icon.jpg" alt="G+" width=30 height=30></a>    
			  </div> -->
			  
</footer>