<header class="navbar ">
   <div class="logo"/>
  <div class="navbar-inner">
    <div class="drop-down-menu">
	 <a class="btn btn-navbar" data-toggle="collapse" dispaly="block" data-target=".nav-collapse">
			<li class="icon-bar"></li>
			<li class="icon-bar"></li>
			<li class="icon-bar"></li>
			<li class="icon-bar"></li>
			<li class="icon-bar"></li>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
           <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
		  <li><%= link_to "New project", start_project_path %></li>
          <li><%= link_to "Portfolio", portfolio_path %></li>
		   <li><%= link_to "Reports", reports_path %></li>
<!--           <li><%= link_to "About",    about_path %></li>
 -->        </ul>
      </div>
    </div>
  </div>
</header>