<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Crowd</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/Green-Solar-Energy.ico" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<%= yield :scripts %>
	

  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
	  
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
	</nav>
    </header>
    <main role="main">
      <div class="container">
			  <% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
              <%= render 'layouts/messages' %>
              <%= yield %>
          </div>
      </div>
    </main>
	  <footer>
		    <%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
        </footer>
  </body>
</html>
